<!--
  Generated template for the TransPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar dir="ltr" color="dark">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Transactions</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding dir="ltr">

<h4><u># Mes transactions:</u></h4>
<br>
  <ion-card *ngFor="let item of items | async" style="background:#34495e; direction:ltr;     border-radius: 10px 35px 10px 35px;">
    
        <ion-card-content style="color:white;">
          
          Numéro de la transaction{{item.orderNum}}
          Prix encaissé {{item.total | currency:"€":0}}

        <p style="color:grey; font-size:12px;">{{item.Date | date}}</p>

        </ion-card-content>
    
      </ion-card>

    </ion-content>