<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar dir="ltr" color="danger">
      <ion-title>Se connecter</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding dir="ltr">
  <h3 style="color:red;">Connectez-vous</h3>
  <ion-item>
  <ion-label>Adresse mail</ion-label>
  <ion-input type="text" [(ngModel)]="email"></ion-input>
  </ion-item>
  
  <ion-item>
  <ion-label>Mot de passe</ion-label>
  <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>
  
  <button ion-button (click)="login()">Login</button>
  
  </ion-content>