<ion-header>
  <ion-navbar dir="ltr" color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Produits</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding dir="ltr">


  <ion-grid>

    <ion-row>

      <ion-col col-6>
      <ion-list>
          <ion-list-header>
            Boissons
          </ion-list-header>
    <button ion-item  *ngFor="let item of drinks" (click)="addToOrderList(item,1)">{{item.name}}</button>
  </ion-list>
</ion-col>

<ion-col col-6>
  <ion-list>
      <ion-list-header>
          Plats et gourmandises
        </ion-list-header>

    <button ion-item *ngFor="let item of foods" (click)="addToOrderList(item,1)">{{item.name}}</button>
  
  </ion-list>
</ion-col>

</ion-row>

</ion-grid>


  <ion-card style="background:#34495e;" class="listOfitems" *ngFor=" let item of order">

      <ion-card-content style="color:white;">
      <div>
         <h1 style="color:aliceblue"> {{item.name}} </h1>
          <button ion-button (click)="addToOrderList(item,1)">
              <span>+</span>
          </button>
    
          <button ion-button (click)="removeSingleItem(item)">
              <span>-</span>
          </button>
    
          <button ion-button (click)="removeItem(item)">
              <span>Supprimer</span>
          </button>
      </div>

      Quantité: <span>{{item.qty}}</span>
      Prix: <span>{{item.price * item.qty | currency:"€":0}}</span>
        </ion-card-content>
  </ion-card>


  <button ion-button (click)="clearOrderList()" [disabled]="!order.length">Abondonner commande</button>

  <button ion-button (click)="checkout()" [disabled]="!order.length">Confirmer</button>

  <button ion-button (click)="getLastTrans()">Afficher les dernières transactions</button>

  <button ion-button (click)="signOut()">
      Se déconnecter
</button>

<br><br>
  <div [hidden]="!order.length">
      <h3><span>Total: {{getTotal() | currency:"€":0}}</span></h3>
  </div>

</ion-content>
